.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background: #20232aaf;
  color: inherit;
  border: none;
  border-radius: 1rem;
  margin: 0.2rem;
  padding: 0.4rem;
  font: inherit;
  font-size: 0.6rem;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  outline: inherit;
  box-shadow: 2px 2px 2px #0000006c;
}
.btn:hover {
  color: orange;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
form {
  font-family: "Times New Roman", Times, serif;
}
